// 
// 
// fonts
// 
// 
// @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Arabic:wght@100..800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@font-face {
    font-family: 'Noto Kufi Regular';
    src: url('fonts/static/NotoKufiArabic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Kufi Bold';
    src: url('fonts/static/NotoKufiArabic-Bold.ttf') format('truetype');
}


$font-primary: "Tajawal", sans-serif;
$font-regular: 'Noto Kufi Regular' , 'Open sans' , 'Arial';
$font-bold: 'Noto Kufi Bold' , 'Open sans' , 'Arial';
$font-size: 1.6rem;


@mixin htags($factor : 1rem){
    h1{
        font-size: 2*$factor;
    }
    h2{
        font-size: 1.6*$factor;
    }
    h3{
        font-size: 1.2*$factor;
    }
    h4{
        font-size: 1.1*$factor;
    }
    h5{
        font-size: $factor;
    }
    h6{
        font-size: 0.9*$factor;
    }
}

$boxShadow-color : #ccc;
$color-link-hover : #E43F21;
$color-primary : #616571;
$color-border : #f2f2f2;
$color-text : #666 ;
$color-header-links : #fff;
$color-links : #616571;
$color-heading : #616571;
// 
// Header Respon
// 

$x-large : 1200px;
$large : 1024px;
$medium : 950px;
$small : 750px;
$x-small : 460px;


