@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans+Arabic:wght@100..800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@font-face {
	font-family: "Noto Kufi Regular";
	src: url("fonts/static/NotoKufiArabic-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Kufi Bold";
	src: url("fonts/static/NotoKufiArabic-Bold.ttf") format("truetype");
}
